.body {
    margin-left: 184px;
    margin-right: 184px;
}

.button2 {
    width: 120px;
    background-color: var(--color-secundario);
}

.medication-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.med-cards {
    text-align: center;

    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.med-card {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
    border-radius: 5px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--color-fondo);
    box-shadow: 3px 3px 5px var(--color-texto-secundario);

    p {
        font-size: 16px;
    }

    h4 {
        color: var(--color-primario);
    }

}

.task-summary-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    
    .task-summary-card {
        display: flex;
        flex-direction: column;
        width: 30%;
        text-align: left;
        border-radius: 5px;
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
        background-color: var(--color-fondo);
        box-shadow: 3px 3px 5px var(--color-texto-secundario);

        p {
            font-size: 16px;
        }

        h4 {
            color: var(--color-primario);
        }
    }
}